@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.995 0.004 181.963);
  --foreground: oklch(0.162 0.022 179.306);
  --muted: oklch(0.948 0.015 181.63);
  --muted-foreground: oklch(0.494 0.017 181.095);
  --popover: oklch(0.995 0.004 181.963);
  --popover-foreground: oklch(0.162 0.022 179.306);
  --card: oklch(0.995 0.004 181.963);
  --card-foreground: oklch(0.162 0.022 179.306);
  --border: oklch(0.92 0.006 181.878);
  --input: oklch(0.92 0.006 181.878);
  --primary: oklch(0.616 0.098 175.694);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.906 0.009 181.794);
  --secondary-foreground: oklch(0.405 0.022 180.495);
  --accent: oklch(0.852 0.023 181.31);
  --accent-foreground: oklch(0.33 0.025 179.772);
  --destructive: oklch(0.45 0.131 40.92);
  --destructive-foreground: oklch(0.92 0.038 46.433);
  --ring: oklch(0.616 0.098 175.694);
  --chart-1: oklch(0.616 0.098 175.694);
  --chart-2: oklch(0.906 0.009 181.794);
  --chart-3: oklch(0.852 0.023 181.31);
  --chart-4: oklch(0.928 0.007 181.863);
  --chart-5: oklch(0.624 0.102 175.328);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 180);
  --muted: oklch(0.209 0.02 179.056);
  --muted-foreground: oklch(0.718 0.015 181.459);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(1 0 180);
  --card: oklch(0 0 0);
  --card-foreground: oklch(1 0 180);
  --border: oklch(0.277 0.011 180.904);
  --input: oklch(0.277 0.011 180.904);
  --primary: oklch(0.616 0.098 175.694);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.284 0.019 180.008);
  --secondary-foreground: oklch(0.823 0.026 181.174);
  --accent: oklch(0.392 0.038 178.94);
  --accent-foreground: oklch(0.891 0.023 181.35);
  --destructive: oklch(0.676 0.182 42.333);
  --destructive-foreground: oklch(0 0 0);
  --ring: oklch(0.616 0.098 175.694);
  --chart-1: oklch(0.616 0.098 175.694);
  --chart-2: oklch(0.284 0.019 180.008);
  --chart-3: oklch(0.392 0.038 178.94);
  --chart-4: oklch(0.318 0.023 179.915);
  --chart-5: oklch(0.624 0.102 175.328);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
