@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --dark-black-color: #21252b;
  --light-black-color: #282c34;
  --red-color: #ff3452;
  --yellow-color: #f8da9f;
  --white-color: #f6f7f8;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #21252b;
}

.section-title {
  color: var(--red-color);
  font-size: 2.6em;
}

@media screen and (width<=500px) {
  .section-title {
    font-size: 2.3em;
  }
}

@media screen and (width<=400px) {
  .section-title {
    font-size: 2em;
  }
}